@keyframes active-tile-pulse {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
    }
}

body,
html {
    margin: 0;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(var(--grid-width), auto);
    grid-template-rows: repeat(var(--grid-height), auto);
}

.cell {
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.tile {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: width 0.2s, height 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.interactive:hover > .tile {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.cell.active > .tile {
    animation: active-tile-pulse 1s infinite alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 5px;
    z-index: 1000;
}

.lock {
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
}

.ui-overlay > .ui-text {
    color: white;
    font-size: 10em;
    cursor: pointer;
    transition: text-shadow 0.25s;
}

.ui-overlay > .ui-text:hover {
    color: white;
    font-size: 10em;
    text-shadow: #fff 1px 0 10px;
}
